@import "../../scss/easings.scss";
@import "../../scss/media-query.scss";

.labs {
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    background: white;

    .labs__inner-container {
        width: 100%;
        max-width: 2400px;
        margin: 0 auto;

        .labs__hero {
            position: relative;
            /* isolation: isolate; */
            padding: 7rem 0 4rem 0;

            .labs__hero-title {
                position: relative;
                font-size: 2.4rem;
                z-index: 1;
                /* mix-blend-mode: difference; */
            }

            .labs__floating-images {
                display: none;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 0;

                img {
                    position: absolute;
                    transform: translate(-50%, -50%) scale(0.8);
                    transition:
                        transform 0.5s $easing,
                        opacity 0.2s ease-in;
                    object-fit: contain;
                    z-index: -1;
                }

                /* .labs__floating-images-container {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    isolation: isolate;


                } */
            }
        }

        .labs__gallery {
            .labs__gallery-item {
                transition: opacity 0.4s ease-in;

                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }

    @include large-devices-up {
        .labs__inner-container {
            .labs__hero {
                padding: 0;
                height: 100dvh;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .labs__hero-title {
                    font-size: 3rem;
                }

                .labs__floating-images {
                    display: block;
                }
            }
        }
    }

    @include extra-large-devices-up {
        .labs__inner-container {
            .labs__hero {
                .labs__hero-title {
                    font-size: 4.6rem;
                }
            }
        }
    }

    @include extra-extra-large-devices-up {
        .labs__inner-container {
            .labs__hero {
                .labs__hero-title {
                    font-size: 6.2rem;
                }
            }
        }
    }
}
