@import "../../scss/padding.scss";
@import "../../scss/easings.scss";
@import "../../scss/media-query.scss";

.labs {
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    background: white;

    .labs__inner-container {
        width: 100%;
        max-width: 2400px;
        margin: 0 auto;

        @include horizontal-padding;

        .labs__hero {
            padding-top: 12rem;

            .labs__hero-title {
                font-size: 2rem;
                font-weight: 700;
                margin-bottom: 1rem;
            }
        }
    }

    @include large-devices-up {
        .labs__inner-container {
            .labs__hero {
                .labs__hero-title {
                    font-size: 1.6rem;
                }
            }
        }
    }

    @include extra-extra-large-devices-up {
        .labs__inner-container {
            .labs__hero {
                .labs__hero-title {
                    font-size: 2rem;
                    margin-bottom: 2rem;
                }
            }
        }
    }
}
